body {
    font-family: Roboto, sans-serif !important;
}

main {
    min-height: calc(100vh - 387px);
}

nav.navbar {
    z-index: 10;
    background-color: #091A41 !important;
}

.form-inline .form-control {
    background-color: #0b193b;
    border-color: #0b193b !important;
}

.form-control:focus {
    color: #495057;
    background-color: rgba(9, 26, 65, 0.2) !important;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.main-section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.cover-img,
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cover-img {
    background-image: url("/static/img/email-block.png");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.overlay {
    background-color: rgb(7, 29, 73);
    opacity: 0.8;
}

.main-content {
    position: absolute;
    z-index: 5;
    padding: 0 50px;
    width: 100%;
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
}

.main-content__paragraph,
.main-content__header {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1s;
    transition: all .3s ease;

}

.b-show {
    animation: showBlock 1s linear forwards;
}

@keyframes showBlock {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        margin-bottom: 180px;
    }
}

.main-content__header {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
}

.main-content__paragraph {
    color: white;
    text-align: center;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
}

.btn-outline-success {
    color: white !important;
    border-color: #ab1c52 !important;
}

.btn-outline-success:hover {
    color: white !important;
    border-color: #ab1c52 !important;
    background-color: #ab1c52 !important;
}

.register-form {
    padding: 15px;
    background-color: rgba(89, 128, 196, 0.25);
}

.form-group {
    color: white;
}

.form-group > div > div input {
    color: white !important;
    background-color: rgba(62, 73, 255, 0.1);
    border-color: #55e2ff;
}

#hint_id_username,
#hint_id_password1,
#hint_id_password2 {
    color: #3eadff !important;
}

textarea#id_message,
select#id_user {
    background-color: rgba(62, 73, 255, 0.1);
    border-color: #55e2ff;
}

.email-configuration {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
}

.email-list {
    background-color: rgba(86, 256, 255, 0.3);
}

.to-send-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    margin: 15px 0;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 5px !important;
}

.to-send-form button {
    align-self: end !important;
}

.main-section-form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}